.filter-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  .filter-item {
    display: inline;
    background-color: inherit;
    border: 1px solid var(--grey-200);
    border-radius: var(--radius-l);
    padding: 8px 12px;
  }
  :hover {
    border-radius: var(--radius-l);
    border-color: var(--purple_700);
    background-color: var(--purple_700);
    color: var(--white-900);
  }
  .filter-item--active {
    border-color: var(--purple_700);
  }
}
.filter-list--collapsed {
  max-height: 240px;
  overflow: hidden;
}

.collapse-button {
  background-color: inherit;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: var(--purple_700);
}
