.details_answer {
  color: var(--black-800);
  padding: 20px 16px;
  border-radius: var(--radius-xxl);
  background-color: var(--white-900);
  &-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  &-container {
    padding: 20px 16px;
  }
}
