.collection {
  width: 75%;
  @media (max-width: 1050px) {
    width: 100%;
  }
  .header-collection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--black-50);

    &-title {
      font-size: 22px;
      color: var(--text-black);
      font-weight: 500;
    }
  }
}
