.search-input {
  border: 1px solid var(--grey-200);
  border-radius: 68px;
  padding: 10px 24px;
  color: var(--grey-200);
  &:focus {
    outline: 1.8px solid var(--purple_700);
    color: var(--black-600);
  }
}
