.navigate-container {
  position: relative;
}
.select_button {
  display: none;
  position: relative;

  padding: 5px;
  background-color: inherit;
  border: none;
  color: var(--text-black);
  @media (max-width: 1230px) {
    display: block;
  }
}

.header-nav-mobile {
  position: absolute;
  top: 8px;
  right: -15px;
}

.header_navList {
  display: flex;
  padding: 13px;
  gap: 20px;
  @media (max-width: 1230px) {
    display: none;
  }

  .link {
    padding: 5px 15px;
  }
  .active-link {
    padding: 5px 15px;
    color: var(--purple_700);
    background-color: var(--backgroung);
    border-radius: var(--radius-l);
  }
}

.nav-list_mobile {
  display: flex;
  @media (max-width: 1230px) {
    z-index: 100;
    flex-direction: column;
    gap: 8px;

    background-color: #fff;
    position: absolute;
    top: 40px;
    left: -147px;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-m);
  }
}

.mobile-container {
  position: relative;
  @media (min-width: 1230px) {
    display: none;
  }
}
