:root {
  --purple_400: #c39dff;
  --purple_700: #6a0bff;
  --purple_800: #5509cc;
  --purple_900: #18003e;

  --white-900: #fff;

  --grey-100: #8c8c8c;
  --grey-200: #a3a3a3;

  --black-50: #e8e8e8;
  --black-600: #5e5e5e;
  --black-700: #474747;
  --black-800: #303030;

  --backgroung: #f8f8f8;

  --code: #e1ceff;

  --radius-xxl: 24px;
  --radius-xl: 16px;
  --radius-l: 12px;
  --radius-m: 8px;
  --radius-s: 4px;

  --box-shadow: 0 0 10px -2px #6a6376;
  --text-black: #191919;
}

body {
  margin: 0;
  font-family: 'Manrope', system-ui, sans-serif;
  color: var(--text-black);
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#root {
  box-sizing: border-box;
  background-color: var(--backgroung);
}
.container {
  margin: auto;
  padding-inline: clamp(0.625rem, 0.2083rem + 1.8519vw, 1.875rem);
  max-width: 1180px;
}
.main {
  min-height: calc(100vh - 430px);
  position: relative;
  margin-bottom: clamp(2.5rem, 1.6705rem + 3.6866vw, 5rem);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.accent {
  background-color: var(--purple_700);
  color: white;
}

.responsive-width-body {
  margin: 0 auto;
  width: 75%;
  @media (max-width: 1050px) {
    width: auto;
  }
}
