.answer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
}

.open-card {
  max-height: 1000px;
  transition: max-height 0.5s;
}

.hidden-card {
  overflow: hidden;
  max-height: 0;

  transition: max-height 0.5s;
}
